.Login {
  display: grid;
  position: relative;
  width: 100%;
  height: 90vh;
  place-items: center;
}

.Login__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.forgot-password {
  margin-top: 28px;
  text-align: center;
  text-decoration: none;
  font-size: var(--sm);
  color: var(--hospital-green);
}

@media (min-width: 640px) {
  .forgot-password {
    margin-top: 18px;
  }
}

.sign-up-button {
  position: absolute;
  bottom: 30px;
  width: 300px;
}

@media (min-width: 640px) {
  .sign-up-button {
    bottom: 100px;
  }
}
