.Menu {
  padding: 20px;
  font-size: var(--md);
}

.Menu ul {
  list-style: none;
}

.Menu a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 42px;
  color: var(--black);
  font-weight: bold;
}

.categories {
  margin-bottom: 36px;
  border-bottom: 1px solid var(--very-light-pink);
}

.my-orders {
  margin-bottom: 86px;
}
.sign-out-container a {
  display: inline;
  font-size: var(--sm);
  font-weight: 300;
}

.sign-out-container .sign-out {
  color: var(--hospital-green);
  font-weight: bold;
}
