.Menu {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  padding: 20px;
  font-size: var(--md);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  border-radius: 5px;
  background-color: white;
}

.Menu ul {
  list-style: none;
}

.Menu a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 42px;
  color: var(--black);
  font-weight: bold;
}

.categories {
  margin-bottom: 36px;
  border-bottom: 1px solid var(--very-light-pink);
}

.my-orders {
  margin-bottom: 86px;
}
.sign-out-container a {
  display: inline;
  font-size: var(--sm);
  font-weight: 300;
}

.sign-out-container .sign-out {
  color: var(--hospital-green);
  font-weight: bold;
}
