.MyOrder {
  display: grid;
  width: 100%;
  height: 100vh;
  place-content: center;
}

.my-order-container {
  display: flex;
  flex-direction: column;
  width: 350px;
}

@media (min-width: 640px) {
  .my-order-container {
    width: 450px;
    margin-top: 140px;
  }
}

.title {
  display: none;
  font-size: var(--lg);
  font-weight: bold;
}

@media (min-width: 640px) {
  .title {
    display: block;
    margin-bottom: 40px;
  }
}

.my-order-container p {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.my-order_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-input-field);
  height: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}
.my-order_total .total-date {
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
}

.my-order_total .total-price {
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
}
