.OrderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.OrderItem__item-details {
  display: flex;
  align-items: center;
}

.OrderItem img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.OrderItem .item-price {
  margin-right: 10px;
  font-size: var(--md);
  font-weight: bold;
  color: var(--black);
}
