@import 'mixins';

.PasswordRecovery {
  @include login-container;
  place-items: center;
}

.PasswordRecovery__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.PasswordRecovery__back-login {
  margin-top: 28px;
  text-align: center;
  text-decoration: none;
  font-size: var(--sm);
  color: var(--hospital-green);
}
