@import 'mixins';

.PasswordRecoverySentEmail {
  @include login-container;
  place-items: center;
}

.sent-mail__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  width: 300px;
}

.email-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 132px;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: var(--text-input-field);
}

.email-image img {
  width: 80px;
}

.resend {
  margin-top: 28px;
  font-size: var(--sm);
}

.resend span {
  color: var(--very-light-pink);
}

.resend a {
  text-decoration: none;
  color: var(--hospital-green);
}
