.PasswordRecovery {
  display: grid;
  width: 100%;
  height: 90vh;
  place-items: center;
}

.PasswordRecovery__form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.PasswordRecovery__form {
  display: flex;
  flex-direction: column;
}

.PasswordRecovery__label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.PasswordRecovery__input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.PasswordRecovery__primary-button {
  width: 100%;
  height: 50px;
  background-color: var(--hospital-green);
  color: var(--white);
  font-size: var(--md);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.PasswordRecovery__login-button {
  margin-top: 16px;
}

.PasswordRecovery__back-login {
  margin-top: 28px;
  text-align: center;
  text-decoration: none;
  font-size: var(--sm);
  color: var(--hospital-green);
}
