.ProductsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  place-content: center;
  gap: 26px;
}

@media (min-width: 640px) {
  .ProductsList {
    grid-template-columns: repeat(auto-fill, 240px);
  }
}
